body {
    background-color: lightblue;
    font-family: Helvetica;
}

#main {
    width: 80%;
    max-width: 950px;
    border: 1px gray solid;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.button{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 1% 5%;
    text-align: center;
    font-size: 150%;
    border-radius:25px ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-decoration: none;
}
.header{
    text-align:center;
    margin-top:5% ;

}
.availableTreasureHunts{

}
.trBorder{
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 5px 5px;
    text-align: center;
    font-size: 100%;
    border-radius:25px ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: -22%;
    margin-right: 25%;
    margin-left: 25%;

}
ul{
    list-style: none;
}

.cookies{
    font-weight: bold;
    text-align:center;
    margin-top:1% ;
    background-color: red; /* Green */
    color: white;
    padding: 5px 5px;
    font-size: 70%;
    border-radius:25px ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.leaderboard{
    color:white;
    margin-top: -10%;
}
table, th, td {
    color: white;
    border:1px solid white;
    margin-top: 3%;

}
table{
    width:100%;
    border-collapse: collapse;
}

#leaderboard1{
    text-align:center;
    margin-top:5% ;
    background-color: #4CAF50; /* Green */
    color: white;
    max-width: 130px;
    border-radius: 5px;
    margin-left: 2%;
    font-size: 20px;
}

#leader {
    margin-left: 2%;
    margin-right: 2%;
}