table {
    width: 100%;
    border: 1px solid blue
}

th, td {
    border-bottom: 1px solid gray;
    text-align: left;
}

td{
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid gray;
}
.testbtn:hover{
    background-color: lightblue;
}

.home{
    align-items: center;
    background-color: aliceblue;
    border-radius: 12px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.home:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}


@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

#questionHide{
    display: none;
}
#answerHide{
    display: none;
}
#scoreHide{
    display: none;
}
#leaderboardHide{
    display: none;
}